
body {
  margin: 0;
}
.brd {
  border: 1px solid red;
}
.brd1 {
  border: 1px solid blue;
}
.brd2 {
  border: 5px solid greenyellow;
}
.text-small {
  font-size: 0.75rem;
}
.card-size {
  max-height: 400px;
  width: 33%;
}
.filter-img{
  position: absolute;
  top:14px;
  left:14px;
  right:14px;
  bottom:14px;
  background: rgba(0,0,00,0);
  z-index: 10;
}


@media only screen and (max-width: 1024px) {
  .card-size {
    width: 50%;
  }
}
@media only screen and (max-width: 768px) {
  .card-size {
    width: 100%;
  }
}
